

.musicCon{
    background:#fff;
    border-bottom:8px solid #eee;
}

.musicCon-tag{
    height:.5rem;
    margin:0 20px;
    line-height: .5rem;
    padding:10px 0 15px 0;
    text-align: center;
}
.musicCon-title {
    margin:0 20px;
    line-height:.6rem;
    font-size:22px;
    color:#000;
}
.musicCon-author {
    margin:5px 20px 0;
    line-height:.6rem;

}
.musicCon-img {
    width:100%;
    margin:10px 0;
    display: flex;
    justify-content: center;
    position: relative;
}
.musicCon-imgwarp{
    width:60%;
    height:60%;
    border:1px solid #ccc;
    border-radius: 50%;
    overflow: hidden;
    
}
.musicCon-img img{
    width:100%
}

.musicCon-imgplay{
    position: absolute;
    left:.4rem;
    bottom:.1rem;
    width:.48rem;
    height:.48rem;
}
.musicCon-imgplay img{
    width:100%;
}

.musicCon-text-author {
    margin:12px 20px 0;
    line-height: 16px;
    font-size:16px;
}
.musicCon-text-short {
    margin:10px 20px 0;
    line-height:.5rem;
    font-size:18px;
}
.music-data {
    margin:0 20px;
    padding:20px 0 30px 0;
    font-size:16px;
}


/* 音乐详情样式 */
.mDetailsCon-img {
    width:100%;
    height:7.5rem;
    position:relative;
    margin-top:-1rem;
    margin-bottom:20px;
}
.mDetailsCon-imgb{
    position: absolute;
    left: -186px;
    top: -134px;
    width: 9.8rem;
    height: 9.8rem;
    border-radius: 245px 245px 245px 0px;
    box-shadow: 0 0 20px 5px rgba(230,230,230,0.6);
}
.mDetailsCon-imgwarp{
    position: absolute;
    left: -168px;
    top: -116px;
    width:9.08rem;
    height:9.08rem;
    border-radius: 227px 227px 227px 226px;
    box-shadow: 0 0 20px 5px rgba(230,230,230,0.6);
    overflow: hidden;
}
.mDetailsCon-imgwarp img {
    width:100%;
    
}
.mDetailsCon-play{
    position: absolute;
    left:.46rem;
    top:1.5rem;
    width:1.44rem;
    height:1.44rem;

}
.mDetailsCon-play img{
    width:100%;
}
.mDetailsCon-logo{
    position: absolute;
    top:1.8rem;
    right:1.9rem;
    width:.8rem;
    height:.8rem;
}
.mDetailsCon-logo img{
    width:100%;
}
.text-music-info {
    text-align: center;
    margin-top: .64rem;
}
.text-music-info p{
    line-height:.4rem;
}
.mDetailsCon .text-title{
    margin:30px 20px 0;
    text-align: center;
    line-height:.72rem;
    font-size:28px;
    color:#000;
    font-weight:900;
}
.mDetailsCon .text-simple-author{
    margin:40px 0 20px 0;
    line-height:32px;
    text-align: center;
}

    /* 文字内容 */
.mDetailsCon .text-content{
    margin-top:14px;
    padding:0 20px;
}
.mDetailsCon .text-content p:nth-child(1){
    font-size:18px;
    line-height: 30px;
}
.mDetailsCon .text-content .textifo{
    line-height:30px;
    font-size:14px;
    text-align: center;
    margin-bottom:20px;
}
.one-gif-box {
    margin-bottom:15px;
}
.one-gif-box img{
    width:100%;
}